{
  "presets": [
    [
      "latest", {
        "es2015": {
          "modules": "commonjs"
        }
      }
    ],
    "react"
  ],
  "env": {
    "build": {
      "plugins": [
        [
          "css-modules-transform", {
            "generateScopedName": "[name]__[local]___[hash:base64:5]",
            "extensions": [".css"],
            "extractCss": "./dist/combined.css"
          }
        ],
        "react-hot-loader/babel"
      ]
    }
  }
}
